#chating
{
    width: 100px;
    height: 100px;
}
#logout{

    float:right;
    width:100px;
    height: 50px;
    font-size: 18px;
    color: blue;
}
body
{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}
html{
    height: 100%;
    margin: 0;
}
#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}